@import '~antd/dist/antd.css';

.content{
    display: flex;
    flex:1;
}
.dag-area{
    display: flex;
    flex-flow: column;
    flex: 1;
}
.proppane{
    /* height: 55%; */
    min-height: 30vh;
    width: 100%;
    background: white;
    border: 1px solid #eee;
    flex: 1;
    overflow: scroll;
}
.proppane-title{
    display: flex;
    justify-content: space-between;
}